:root {
  --orange: #fe7613;
  --white: #ffffff;
  --light-grey: #818994;
  --medium-grey: #262f38;
  --dark-blue: #1e252f;
  --very-dark-blue: #141519;
}

body {
  min-height: 100vh;
  background: var(--very-dark-blue);
  font-family: "Outfit", sans-serif;
  color: var(--white);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.star-icon {
  width: 20px;
  background: var(--medium-grey);
  padding: 0.7em;
  border-radius: 50%;
}

.card {
  background: linear-gradient(var(--dark-blue), var(--dark-blue));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  border-radius: 10%;
  padding: 30px;
}

.title {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 2px;
}

.feedback-request {
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--light-grey);
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttons > * {
  border-radius: 100%;
  border-style: none;
  width: 50px;
  height: 50px;
  background-color: var(--medium-grey);
  color: var(--white);
}

.buttons > *:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-button {
  background-color: var(--light-grey);
}

.submit-button {
  border-radius: 20px;
  border-style: none;
  height: 40px;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 700;
  letter-spacing: 2px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.hide-card {
  display: none;
}

.you-selected-text {
  margin-top: 15px;
}

.thank-you-image {
  width: 150px;
  height: 100px;
}

.selected-rating {
  margin: 30px 0;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 30px;
  color: var(--orange);
  background-color: var(--medium-grey);
  padding: 0.5rem 1rem;
}

.thank-you-header {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 0;
}

.thank-you-text {
  color: var(--light-grey);
  letter-spacing: 0.8px;
  font-weight: 400;
  font-size: 15px;
}

.attribution {
  padding: 10px;
  position: absolute;
  bottom: 0;
}
